/* Style für projects section title */
.projects h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-brand-color);
    margin-left: 2rem;
}

.projects > div {
    margin-right: 2rem;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; /* Space content evenly between items */
    align-items: center; /* Center content vertically */
}

/* Style for the projects-container within the projects section */
.projects-container {
    display: flex;
    justify-content: space-evenly; /* Space content evenly */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* Style for individual projects */
.project {
    flex: 1; /* This will make the projects take equal width */
    margin-left: 8rem; 
    margin-right: 16rem;
    margin-bottom: 8rem;
}

.project h3 {
    text-transform: uppercase;
    color: var(--main-brand-color); 
}

.project p {
    color: var(--main-text-color);
}

/* Style for the container within the dialog content */
.container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
}

/* Style for the vertical layout within the dialog */
.vertical-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    gap: 15px; /* Set the gap between items */
}

/* Style for the horizontal layout within the dialog */
.horizontal-layout {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    justify-content: flex-end;
    gap: 15px; 
}

/* Custom styling to hide the Quill editor toolbar */
::ng-deep .p-editor-toolbar {
    display: none;
}