<section id="about" class="about">
    <h1>Über</h1>
    <div>
        Willkommen bei der <strong>CampusProjektSchau</strong>, der Plattform für Projekte von Studierenden der Hochschule für Angewandte Wissenschaften Hamburg. 
        <br><br>
        Diese Seite bietet einen Überblick über die unterschiedlichen Projekte, die an unserer Hochschule entstehen und entstanden sind.
        <br><br>
        Bei CampusProjektSchau liegt der Fokus auf der Präsentation von Projekten aus verschiedenen Fachbereichen. 
        <br><br>
        Studierende haben hier die Möglichkeit, ihre Arbeiten vorzustellen und sich mit anderen Studierenden zu vernetzen.
        <br><br>
        Wir laden Sie ein, CampusProjektSchau zu erkunden und die Vielfalt von Projekten aus verschiedenen Fachrichtungen zu entdecken.

        <br><br><br>
        <em> Sind Sie Teil der HAW Hamburg und möchten Ihr Projekt auf CampusProjektSchau präsentieren? </em>
        <br>
        Dann melden Sie sich bei xxx, um einen Zugang zu erhalten und Ihr Projekt zu veröffentlichen.
    </div>    
</section>
